<!DOCTYPE html>
<html>

  <head>
    <title>Todo List</title>
  </head>

  <body>
    <h1>Todo List</h1>

    <ul>
      {{todos}}
    </ul>

    <form id="todo-form">
      <input id="title" required name="title"></input>
      <button type="submit">Add Todo</button>
    </form>

  </body>

  <script>
    document.getElementById("todo-form").addEventListener('submit', function(event) {
      event.preventDefault();

      const title = document.getElementById("title").value;

      fetch('/api/todo', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({title: title})
      }).then(response => {
        if(response.ok) {
          location.reload();
        } else{
          alert('unable to add todo');
        }
      })


    });
  </script>

</html>
